## Module 1 Homework: Docker & SQL

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
!uv add pandas sqlalchemy psycopg2-binary

In [ ]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

### Prepare Data

In [29]:
# Download the green taxi trips data for November 2025
#!wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet

In [2]:
# Read the data
prefix = 'green_tripdata_2025-11.parquet'

In [3]:
df = pd.read_parquet(prefix)

In [4]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46912 entries, 0 to 46911
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               46912 non-null  int32
 1   lpep_pickup_datetime   46912 non-null  datetime64[us]
 2   lpep_dropoff_datetime  46912 non-null  datetime64[us]
 3   store_and_fwd_flag     41343 non-null  object
 4   RatecodeID             41343 non-null  float64
 5   PULocationID           46912 non-null  int32
 6   DOLocationID           46912 non-null  int32
 7   passenger_count        41343 non-null  float64
 8   trip_distance          46912 non-null  float64
 9   fare_amount            46912 non-null  float64
 10  extra                  46912 non-null  float64
 11  mta_tax                46912 non-null  float64
 12  tip_amount             46912 non-null  float64
 13  tolls_amount           46912 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  46912 non-null  float64
 16  total_amount           46912 non-null  float64
 17  payment_type           41343 non-null  float64
 18  trip_type              41342 non-null  float64
 19  congestion_surcharge   41343 non-null  float64
 20  cbd_congestion_fee     46912 non-null  float64
dtypes: datetime64[us](2), float64(15), int32(3), object(1)
memory usage: 7.0+ MB

In [6]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
VendorID,46912.0,2.240621,1.0,2.0,2.0,2.0,6.0,1.16963
lpep_pickup_datetime,46912,2025-11-15 20:09:38.177417,2025-10-26 20:23:16,2025-11-08 13:15:22.250000,2025-11-15 18:51:45,2025-11-22 17:53:09.250000,2025-12-01 20:29:00,NaN
lpep_dropoff_datetime,46912,2025-11-15 20:30:49.202123,2025-10-26 20:31:18,2025-11-08 13:33:41,2025-11-15 19:08:39.500000,2025-11-22 18:13:35.500000,2025-12-01 20:44:42,NaN
RatecodeID,41343.0,1.245193,1.0,1.0,1.0,1.0,99.0,1.062821
PULocationID,46912.0,97.521849,1.0,74.0,75.0,116.0,265.0,56.622102
DOLocationID,46912.0,143.066678,1.0,75.0,140.0,230.0,265.0,77.362396
passenger_count,41343.0,1.290666,0.0,1.0,1.0,1.0,9.0,0.897942
trip_distance,46912.0,27.581932,0.0,1.28,2.07,3.66,172273.8,1386.578884
fare_amount,46912.0,17.260303,-150.0,9.0,13.5,19.8,990.0,17.284706
extra,46912.0,0.796294,-2.5,0.0,0.0,1.0,10.0,1.36401
mta_tax,46912.0,0.556329,-0.5,0.5,0.5,0.5,1.5,0.319524
tip_amount,46912.0,2.629329,-0.9,0.0,2.08,3.92,122.1,3.411468
tolls_amount,46912.0,0.273442,0.0,0.0,0.0,0.0,108.0,1.51283
ehail_fee,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
improvement_surcharge,46912.0,0.930615,-1.0,1.0,1.0,1.0,1.0,0.233187
total_amount,46912.0,25.193228,-151.0,14.84,20.3,29.62,991.0,19.312283
payment_type,41343.0,1.246209,1.0,1.0,1.0,1.0,5.0,0.460969
trip_type,41342.0,1.055416,1.0,1.0,1.0,1.0,2.0,0.228793
congestion_surcharge,41343.0,0.884061,-2.75,0.0,0.0,2.75,2.75,1.285098
cbd_congestion_fee,46912.0,0.064893,-0.75,0.0,0.0,0.0,0.75,0.211081

In [7]:
# Check data types
df.dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int32
DOLocationID                      int32
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

In [8]:
# Check data shape
df.shape

(46912, 21)

In [42]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" INTEGER,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [43]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [ ]:
df_iter = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates = parse_dates,
    iterator=True,
    chunksize=100000
)

### Prepare zones data

In [28]:
#!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

In [9]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [10]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [11]:
df_zones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

### Question 3: Counting short trips

For the trips in November 2025 (lpep_pickup_datetime between '2025-11-01' and '2025-12-01', exclusive of the upper bound), how many trips had a `trip_distance` of less than or equal to 1 mile?

In [32]:
query_3 = """
SELECT
    COUNT(*) AS trip_less_than_1_mile
FROM
    green_taxi_2025_11
WHERE
    lpep_pickup_datetime >= '2025-11-01 00:00:00'
    AND lpep_pickup_datetime < '2025-12-01 00:00:00'
    AND trip_distance <= 1;
"""

In [34]:
df_question_3 = pd.read_sql_query(query_3, con=engine)
df_question_3.head()

   trip_less_than_1_mile
0                   8007

In [35]:
# Alternatively
mask = (
    (df["lpep_pickup_datetime"] >= "2025-11-01") &
    (df["lpep_pickup_datetime"] <  "2025-12-01") &
    (df["trip_distance"] <= 1)
)

num_trips = df[mask].shape[0]
print(num_trips)

8007

### Question 4. Longest trip for each day

Which was the pick up day with the longest trip distance? Only consider trips with `trip_distance` less than 100 miles (to exclude data errors).

In [36]:
query_4 = """
SELECT
    pickup_day,
    max_trip_distance
FROM (
    SELECT
        DATE(lpep_pickup_datetime) AS pickup_day,
        MAX(trip_distance) AS max_trip_distance
    FROM green_taxi_2025_11
    WHERE trip_distance < 100
    GROUP BY DATE(lpep_pickup_datetime)
) AS per_day
ORDER BY max_trip_distance DESC
LIMIT 1;
"""

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [37]:
df_question_4 = pd.read_sql_query(query_4, con=engine)
df_question_4.head()

   pickup_day  max_trip_distance
0  2025-11-14              88.03

#### Alterntively

In [38]:
# filter out erroneous distances
df_valid = df[df["trip_distance"] < 100]

In [39]:
# find row with maximum trip_distance
idx = df_valid["trip_distance"].idxmax()
row = df_valid.loc[idx]

In [40]:
pickup_day = row["lpep_pickup_datetime"].date()
max_distance = row["trip_distance"]

In [41]:
print(pickup_day, max_distance)

2025-11-14 88.03

### Question 5. Biggest pickup zone

Which was the pickup zone with the largest `total_amount` (sum of all trips) on November 18th, 2025?

In [47]:
# Filter for November 18th, 2025
df['pickup_date'] = df['lpep_pickup_datetime'].dt.date
df_nov18 = df[df['pickup_date'] == pd.to_datetime('2025-11-18').date()]

In [48]:
print(f"Total trips on November 18th, 2025: {len(df_nov18)}")

Total trips on November 18th, 2025: 1773

In [49]:
# Join with zone names
df_joined = df_nov18.merge(
    df_zones,
    left_on='PULocationID',
    right_on='LocationID',
    how='left'
)

In [50]:
# Calculate total_amount by pickup zone
zone_totals = df_joined.groupby('Zone')['total_amount'].sum().sort_values(ascending=False)

In [51]:
print("\nTop 10 pickup zones by total_amount on November 18th, 2025:")
print(zone_totals.head(10))

Top 10 pickup zones by total_amount on November 18th, 2025:
Zone
East Harlem North              9281.92
East Harlem South              6696.13
Central Park                   2378.79
Washington Heights South       2139.05
Morningside Heights            2100.59
Jamaica                        1998.11
Fort Greene                    1780.41
Downtown Brooklyn/MetroTech    1499.02
Forest Hills                   1423.75
Elmhurst                       1251.82
Name: total_amount, dtype: float64

In [53]:
print(f"ANSWER: {zone_totals.idxmax()}")
print(f"Total amount: ${zone_totals.max():.2f}")

ANSWER: East Harlem North
Total amount: $9281.92

In [54]:
# Join to get pickup zone names
df_with_pu_zones = df.merge(
    df_zones,
    left_on='PULocationID',
    right_on='LocationID',
    how='left',
    suffixes=('', '_pickup')
).rename(columns={'Zone': 'PUZone'})

In [55]:
# Filter for East Harlem North pickups
df_ehn = df_with_pu_zones[df_with_pu_zones['PUZone'] == 'East Harlem North']

In [56]:
print(f"Total trips from East Harlem North in November 2025: {len(df_ehn)}")

Total trips from East Harlem North in November 2025: 12049

In [57]:
# Join to get dropoff zone names
df_ehn_with_do = df_ehn.merge(
    df_zones,
    left_on='DOLocationID',
    right_on='LocationID',
    how='left',
    suffixes=('', '_dropoff')
).rename(columns={'Zone': 'DOZone'})

In [58]:
# Find the trip with the largest tip
max_tip_idx = df_ehn_with_do['tip_amount'].idxmax()
max_tip_trip = df_ehn_with_do.loc[max_tip_idx]

In [59]:
print(f"ANSWER: {max_tip_trip['DOZone']}")
print(f"Tip amount: ${max_tip_trip['tip_amount']:.2f}")
print(f"Pickup: {max_tip_trip['lpep_pickup_datetime']}")
print(f"Total fare: ${max_tip_trip['total_amount']:.2f}")

ANSWER: Yorkville West
Tip amount: $81.89
Pickup: 2025-11-30 16:30:27
Total fare: $100.34