## Module 1 Homework: Docker & SQL

In [1]:
import pandas as pd

### Prepare Data

In [4]:
# Download the green taxi trips data for November 2025
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet

--2026-01-14 20:58:02--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.239.38.147, 18.239.38.181, 18.239.38.83, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.239.38.147|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1164775 (1.1M) [binary/octet-stream]
Saving to: ‘green_tripdata_2025-11.parquet’

green_tripdata_2025 100%[===================>]   1.11M  --.-KB/s    in 0.007s

2026-01-14 20:58:02 (160 MB/s) - ‘green_tripdata_2025-11.parquet’ saved [1164775/1164775]

In [5]:
# Read the data
prefix = 'green_tripdata_2025-11.parquet'

In [6]:
df = pd.read_parquet(prefix)

In [7]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46912 entries, 0 to 46911
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               46912 non-null  int32
 1   lpep_pickup_datetime   46912 non-null  datetime64[us]
 2   lpep_dropoff_datetime  46912 non-null  datetime64[us]
 3   store_and_fwd_flag     41343 non-null  object
 4   RatecodeID             41343 non-null  float64
 5   PULocationID           46912 non-null  int32
 6   DOLocationID           46912 non-null  int32
 7   passenger_count        41343 non-null  float64
 8   trip_distance          46912 non-null  float64
 9   fare_amount            46912 non-null  float64
 10  extra                  46912 non-null  float64
 11  mta_tax                46912 non-null  float64
 12  tip_amount             46912 non-null  float64
 13  tolls_amount           46912 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  46912 non-null  float64
 16  total_amount           46912 non-null  float64
 17  payment_type           41343 non-null  float64
 18  trip_type              41342 non-null  float64
 19  congestion_surcharge   41343 non-null  float64
 20  cbd_congestion_fee     46912 non-null  float64
dtypes: datetime64[us](2), float64(15), int32(3), object(1)
memory usage: 7.0+ MB

In [9]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
VendorID,46912.0,2.240621,1.0,2.0,2.0,2.0,6.0,1.16963
lpep_pickup_datetime,46912,2025-11-15 20:09:38.177417,2025-10-26 20:23:16,2025-11-08 13:15:22.250000,2025-11-15 18:51:45,2025-11-22 17:53:09.250000,2025-12-01 20:29:00,NaN
lpep_dropoff_datetime,46912,2025-11-15 20:30:49.202123,2025-10-26 20:31:18,2025-11-08 13:33:41,2025-11-15 19:08:39.500000,2025-11-22 18:13:35.500000,2025-12-01 20:44:42,NaN
RatecodeID,41343.0,1.245193,1.0,1.0,1.0,1.0,99.0,1.062821
PULocationID,46912.0,97.521849,1.0,74.0,75.0,116.0,265.0,56.622102
DOLocationID,46912.0,143.066678,1.0,75.0,140.0,230.0,265.0,77.362396
passenger_count,41343.0,1.290666,0.0,1.0,1.0,1.0,9.0,0.897942
trip_distance,46912.0,27.581932,0.0,1.28,2.07,3.66,172273.8,1386.578884
fare_amount,46912.0,17.260303,-150.0,9.0,13.5,19.8,990.0,17.284706
extra,46912.0,0.796294,-2.5,0.0,0.0,1.0,10.0,1.36401
mta_tax,46912.0,0.556329,-0.5,0.5,0.5,0.5,1.5,0.319524
tip_amount,46912.0,2.629329,-0.9,0.0,2.08,3.92,122.1,3.411468
tolls_amount,46912.0,0.273442,0.0,0.0,0.0,0.0,108.0,1.51283
ehail_fee,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
improvement_surcharge,46912.0,0.930615,-1.0,1.0,1.0,1.0,1.0,0.233187
total_amount,46912.0,25.193228,-151.0,14.84,20.3,29.62,991.0,19.312283
payment_type,41343.0,1.246209,1.0,1.0,1.0,1.0,5.0,0.460969
trip_type,41342.0,1.055416,1.0,1.0,1.0,1.0,2.0,0.228793
congestion_surcharge,41343.0,0.884061,-2.75,0.0,0.0,2.75,2.75,1.285098
cbd_congestion_fee,46912.0,0.064893,-0.75,0.0,0.0,0.0,0.75,0.211081

In [10]:
# Check data types
df.dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int32
DOLocationID                      int32
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

In [11]:
# Check data shape
df.shape

(46912, 21)

In [12]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2026-01-14 21:00:51--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-14T21%3A48%3A23Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-14T20%3A48%3A01Z&ske=2026-01-14T21%3A48%3A23Z&sks=b&skv=2018-11-09&sig=iHvTBwjwyJNQFW3C8fQQImB43%2FY3%2Ff5vRXK%2BZyKo57o%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2ODQyNDc1MSwibmJmIjoxNzY4NDI0NDUxLCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.eyZdeX-SxTlY3LT41trXSvv-eutSh6LOaThzhgGPMJA&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2026-01-14 21:00:51--  https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-14T21%3A48%3A23Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-14T20%3A48%3A01Z&ske=2026-01-14T21%3A48%3A23Z&sks=b&skv=2018-11-09&sig=iHvTBwjwyJNQFW3C8fQQImB43%2FY3%2Ff5vRXK%2BZyKo57o%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2ODQyNDc1MSwibmJmIjoxNzY4NDI0NDUxLCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.eyZdeX-SxTlY3LT41trXSvv-eutSh6LOaThzhgGPMJA&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving release-assets.githubusercontent.com (release-assets.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to release-assets.githubusercontent.com (release-assets.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2026-01-14 21:00:51 (70.1 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [13]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [14]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [15]:
df_zones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

### Question 3: Counting short trips

In [16]:
mask = (
    (df["lpep_pickup_datetime"] >= "2025-11-01") &
    (df["lpep_pickup_datetime"] <  "2025-12-01") &
    (df["trip_distance"] <= 1)
)

num_trips = df[mask].shape[0]
print(num_trips)

8007

### Question 4. Longest trip for each day

In [17]:
# filter out erroneous distances
df_valid = df[df["trip_distance"] < 100]

In [18]:
# find row with maximum trip_distance
idx = df_valid["trip_distance"].idxmax()
row = df_valid.loc[idx]

In [19]:
pickup_day = row["lpep_pickup_datetime"].date()
max_distance = row["trip_distance"]

In [20]:
print(pickup_day, max_distance)

2025-11-14 88.03

### Question 5. Biggest pickup zone